<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>

  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
<connectionStrings><add name="Model2" connectionString="data source=(LocalDB)\v11.0; 
                        attachdbfilename=|DataDirectory|\BookInfo.mdf;
                        integrated security=True; 
                        MultipleActiveResultSets=True;App=EntityFramework"
                        providerName="System.Data.SqlClient" />
<!--<add name="BookInfoEntities"
     connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;
     data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\BookInfo.mdf;
     integrated security=True;MultipleActiveResultSets=True;
     App=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />-->
</connectionStrings>
</configuration>